* {
    box-sizing:border-box;
}

img {
    max-width:100%;
}

body {
    margin:0;
}

.container {
    background-color:#f8debc;
    padding:10px;
    /* vh stands for viewport height */
    height:100vh;
}

.top {
    /* background-color:#e69760; */
    height:25%;
    display:flex;
    gap:10px;
    padding-bottom:10px;
}

.top-item {
    background-color:#fffebe;
    width:100%;
}

.bottom {
    /* background-color:#685743; */
    height:75%;
    display:flex;
    gap:10px;
}

.left {
    background-color:#e69760;
    width:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.center {
    background-color:#fffebe;
    width:100px;
    height:100px;
}

.right {
    /* background-color:#fffebe; */
    width:50%;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.right-item {
    background-color:#2e8a85;
    height:25%;
}