* {
    box-sizing:border-box;
}

img {
    max-width:100%;
}

body {
    background-color:black;
    color:white;
    margin:20px;
    overflow:hidden;
}

a:link {
    color:black;
    text-decoration:none;
}

a:visited {
    color:black;
    
}

a:hover {
    color:white;
}

.container {
    /* background-color:#252524; */
    height:100vh;
    width:100vw;
    margin:20px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.begin {
    background-color:#4d4d4d;
    height: 100px;
    width: 200px;
    padding:20px;
    border-radius:20px;
    border:1px solid;
    display:flex;
    align-items: center;
    justify-content: center;
}

.begin:hover {
    scale:1.1;
    background-color:#636363;
    transition:all .3s;
}
